build/
sdr/build/
*.bin
.vscode/**/*
data/**/*
!data/README.md
archive/
.idea/*
.DS_Store
uhd_stdout.log
calibration/
postprocessing/*.png
*.tmp

# No changes to PYNQ happens on this end

boards/*
docs/*

# Python

__pycache__/

# Notebooks

.ipynb_checkpoints